@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">
        RestarantRater allows users to enter restaurant information including a name, address, and the score they rate it at.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate a Restaurant</h2>
        <p>
            Add restaurants to the database. Provide the restaurant name, address and a rating between 0.0 and 5.
        </p>
        <p><a class="btn btn-default" href="../Restaurant/Create">Rate</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Restaurants</h2>
        <p>Get a list of all Restaurants</p>
        <p><a class="btn btn-default" href="../Restaurant/Index">Get List</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other stuff TBD</h2>
        <p>Don't know what we'll do here yet.....</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>